*{
    font-family: sans-serif;
    margin: 0;
    color: white;
}

.admin{
    display: flex;
    background-image: url(05.png);
}
.left{
    width: 20%;
    height: 755px;
    background-color: rgba(30, 155, 193, 0.931); 
    /*color: rgb(214, 211, 211);*/
    margin-right: 50px;
}
.left p{
    padding-top: 10px;
    height: 50px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    border: .5px solid rgba(190, 189, 189, 0.837);

}
.left p:hover{
    background-color:rgb(15, 183, 55);
}
h2{
    margin-left: 25%;
    margin-top: -15px;
    margin-bottom: 40px;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: white;
}

img{
    height: 60px;
    width: 35%;
    margin: 20px;
    margin-left: 45px;
}

.rquest{
    width: 70%;
}
h1{
    background-color:rgb(112, 216, 225); 
    height: 60px;
    color: white;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    margin-right: 0;
}

td,th{
    background-color: rgb(47, 93, 209);
    height: 50px;
    width: 200px;
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 18px;
}
th{
    font-size: 20px;
}
input{
    background-color: green;
    border: 1px;
    color: white;
    font-size: 20px;
}
#logout{
    height: 40px;
    width: 150px;
    background-color: rgb(193, 14, 94); 
    border:1px solid white;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
    margin-top: -30px;
    margin-bottom: 30px;
}
#logout:hover{
    background-color: rgb(14, 61, 230);
}