body{
    background-image: url(05.png);
    background-color: rgb(26, 73, 135);
    font-family: sans-serif;
}
.login{
    width:360px;
    height:350px;
    background-color: white;
    margin: auto;
    margin-top: 100px;;
    border-radius: 4px;
}
form{
    margin-left: 20px;
    width: 300px;
}
h1{
    text-align: center;
    padding-top: 20px;
}
p{
    text-align: center;
    font-size: 18px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 3px;
    outline: none;
}
input[type="button"]{
    width: 150px;
    height: 45px;
    margin-top: 20px;
    margin-left: 85px;
    background-color: rgb(20, 4, 80);
    color: white;
    font-size: 18px;
}
input[type="button"]:hover{
    background-color:  rgb(40, 12, 226);
}